<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ubw6.com.georeport" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/main_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppLoginActivity"
            android:label="@string/login_app_name" >
        </activity>
        <activity
            android:name=".MyAccountActivity"
            android:label="@string/myacc_app_name" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/register_app_name" >
        </activity>
        <activity
            android:name=".RegisterTermActivity"
            android:label="@string/registerterm_app_name" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/forgotpass_app_name" >
        </activity>
        <activity
            android:name=".MyTrajectory"
            android:label="@string/mytraj_app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
